@font-face {
    font-family: BadMofo;
    src: url(fonts/BadMofo.ttf)
}
audio{
    display: none;
}

body{
    background: url(img/img-1.jpg);
    background-repeat: repeat; 
}
.h1-1{
    font-size: 80px;
    color: #FFFFFF;
    font-family: BadMofo,sans-serif;
    text-align: center;
}
.p1-1{
    font-size: 40px;
    color: #FFFFFF;
    font-family: BadMofo,sans-serif;
    text-align: center; 
}
.div-main{
    margin-top:150px;
    background:#000000;
}