@font-face {
    font-family: i8080;
    src: url(fonts/i8080.ttf)
}
audio{
    display: none;
}

body{
    background:#000000; 
}
.h1-1{
    font-size: 40px;
    color: #FFFFFF;
    font-family: i8080,sans-serif;
}